@model IEnumerable<CURDUsingADO.Models.Product>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Pid  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Pid  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Pid  })
            </td>
        </tr>
}
    </tbody>
</table>
